body{
    padding: 0;
    margin: 0;
}

body *{
    font-family: 'Raleway', sans-serif;
}
.navbar, footer {
    background-color: #7C4165;

}

.carousel-item img {
    max-height: 20rem;
}

.img-footer{
    max-height: 8rem;
}

.logo-nav {
    max-height: 5rem;
}

header {
    padding-top: 8rem;
    background-position: left;
    background-repeat: no-repeat;
}